body {
 
  background-image:linear-gradient(to right,rgba(0, 0, 0, 0.913),rgba(236, 243, 248, 0.2)) !important;
  /* font-family:  'Crete Round', serif !important; */
}
.App {
  text-align: center;
  margin:auto 50px;
}
.grid {
  grid-template-columns:repeat(3, 1fr)
}
@media screen and (max-width: 48em) {
  .grid {
    grid-template-columns:repeat(2, 1fr)
  }
}

.list {
  text-align:start;
  list-style-position:outside;
  margin: 0;
  padding: 0;
  color: white;
  text-transform: capitalize;
}
.detailcard {
  transition: all .2s ease;
}
.detailcard:hover {
 
  transform: translateY(-10px);
}
.detailshipcard:hover {
   cursor: url('img/icons8-r2-d2-38\ \(1\).png') 16 16, auto;
}
